<style type="text/css">
  table, th, td {
    /*border: 1px solid #000000;*/
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }
	.bcolor{background-color: #70c1fb}
	.center{text-align: center;}
  .top{vertical-align: top;}
</style>


<div class="conatiner">
  	<table class="table table-bordered" width="100%" border="1px" bordercolor="#000000">
    <thead>
      <tr>
          <th colspan="12" class="bcolor center">Supplier wise RM wise Pending PO against Shortage Report</th>
      </tr>
      <tr>
          <th colspan="12" class="bcolor center">Select Period for Planning</th>
      </tr>   
      <tr>
        <th width="40%" class="bcolor" colspan="2">From Date : 
          {% if data %}
            {{frappe.utils.formatdate(data[0].from_date,"dd-mm-yyyy") or ""}}
          {% endif %}
        </th>
        <th width="20%" class="bcolor center"></th>
        <th width="20%" class="bcolor center">To Date</th>
        <th width="20%" class="bcolor center">
          {% if data %} 
            {{frappe.utils.formatdate(data[0].to_date,"dd-mm-yyyy") or ""}}
          {% endif %}
        </th>
      </tr>
      <tr>
        <th width="20%" class="bcolor center" style="vertical-align: top" rowspan="2">Item Name</th>
        <th width="20%" class="bcolor center top" style="vertical-align: top" rowspan="2">Supplier</th>
        <th width="40%" class="bcolor center" colspan="2">Shortage/ Excess Qty</th>
        <th width="20%" class="bcolor center top" style="vertical-align: top" rowspan="2">Pending PO</th>
      </tr>
      <tr>
        <th width="20%" class="bcolor center">Considered PO</th>
        <th width="20%" class="bcolor center">Not Consider PO</th>
      </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td class="center">{{row.item_code}} - {{row.item_name}}</td>
            <td class="center"></td>
            {% if row.consider_po_qty > 0 %}
            <td class="center">{{ row.consider_po_qty }}</td>
            {% else %}
            <td class="center" style="background-color:#ff0000">{{ row.consider_po_qty }}</td>
            {% endif %}

            {% if row.no_consider_po_qty > 0 %}
            <td class="center">{{ row.no_consider_po_qty }}</td>
            {% else %}
            <td class="center" style="background-color:#ff0000">{{ row.no_consider_po_qty }}</td>
            {% endif %}

            {% if row.po_qty > 0 %}
             <td class="center">{{ row.po_qty }}</td>
            {% else %}
             <td class="center">{{ row.po_qty }}</td>
            {% endif %}



            
           
        </tr>
        {% if(row.supplier) %}
        {% for po in row.supplier %}
        <tr>
            <td class="center"></td>
            <td class="center">{{po.supplier or ""}}</td>
            <td class="center"></td>
            <td class="center"></td>
            <td class="center">{{po.qty or ""}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
