<style media="screen">
<!  .po_report{
    font-size: 15px;
    text-align: center;
    letter-spacing: .4px;
    border-color:#0579ce;
    border-color:#e0dede;
  }
  .row_po_report{
    font-size: 15px;
    letter-spacing: .4px;
    border-color:#0579ce;
    border-color:#e0dede;
  }>
  tbody tr td{
    width:50px;
    vertical-align:middle;
    border-color:#d1d8dd;
  }
  .po_report_row{
  height: 40px;
  font-weight: 500;
  width: 100px;

  }

  tr td:hover{
  background-color: #ffff99;

}

.scrollit{
position:relative;
overflow:scroll;
height:500px;
}

.css-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
  margin: 5px;
  /*position:relative;*/
  bottom :25%;
}
input[type="checkbox"]{

  position: relative; 
  top:4px;
  left:0px;  
}


</style>
<div class="order_table freeze-table scrollit">
    
            <table  id="updates" style="margin-top:0px;"class="table ablet css-serial" >
 <thead>
                    <tr class="po_report" style="background-color: #5e64ff; color:#FFFFFF;text-align: center; border: 1px border-color: #000000">
                        <th class="po_report_row" style="vertical-align: middle;" >Sr No</th>
                        <th class="po_report_row" id="item_code" style="text-align:center;vertical-align: middle;" >Item Code</th>
                        <th class="po_report_row" id="item_name" style="vertical-align: middle;">Item Name</th>
                        <th class="po_report_row" id="uom" style="vertical-align: middle;">UOM</th>
                        <th class="po_report_row" id="ie_bom" style="vertical-align: middle;">Include Exploded BOM</th>
                        <th class="po_report_row" id="bom" style="text-align:center;vertical-align: middle;">BOM</th>

                        
                          {% for key in data.header_list %}
                            
                              {% if key[1] == 0 %}                               
                                <th class="hide_editable" id = {{key[0]}} > {{key[0]}}</th>
                              {% else %}
                                <th class="po_report_row" id = {{key[0]}} > {{key[0]}}</th>
                              {% endif %}                    
                          
                          {% endfor %}
                    </tr> 
</thead>
<tbody>

</tbody>
</table>
  </div>
  <span><button type="button" class ="add_row">New Row</button></span>
  <span><button type="button" class ="delete_row">Delete Row</button></span>
